In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel("C:\MS\Work\\NMK\\Supply\\SC-ML-Test-Data-2.xlsx", sheetname="POReceipts (3)")

In [176]:
df

,Supplier,Location,Item Unique Identifier,Expected Qty,Short Quantity,Received Qty,Rejected Quantity,Net Quantity,Time Promised,Time Received,On-Time,Quality,Quantity Met,Confidence
0,India-Mills,"Vadodara,India",HD 700Desert TaupeQueen,68.0,1.0,68.0,1.0,67.0,2015-09-30 00:00:00,2015-10-02,0,0,0,0.00
1,India-Mills,"Vadodara,India",HD 700Desert TaupeKing,58.0,1.0,57.0,NaN,57.0,2015-10-02 00:00:00,2015-10-02,1,1,0,0.66
2,India-Mills,"Vadodara,India",HD 700Desert TaupeStd Case,186.0,9.0,186.0,9.0,177.0,2015-10-02 00:00:00,2015-10-02,1,0,0,0.33
3,India-Mills,"Vadodara,India",HD 700Desert TaupeKing Case,120.0,10.0,115.0,5.0,110.0,2015-10-02 00:00:00,2015-10-02,1,0,0,0.33
4,India-Mills,"Vadodara,India",HD 700Castle RockKing,60.0,0.0,60.0,NaN,60.0,2015-10-02 00:00:00,2015-10-02,1,1,1,1.00
5,India-Mills,"Vadodara,India",HD 700AronaStd Case,108.0,4.0,104.0,NaN,104.0,2015-10-02 00:00:00,2015-10-02,1,1,0,0.66
6,India-Mills,"Vadodara,India",HD 700AronaKing Case,48.0,0.0,48.0,NaN,48.0,2015-10-04 00:00:00,2015-10-02,1,1,1,1.00
7,India-Mills,"Vadodara,India",HD 700Ruby WineQueen,2.0,0.0,2.0,0.0,2.0,2015-10-05 00:00:00,2015-10-02,1,1,1,1.00
8,India-Mills,"Vadodara,India",HD 700Ruby WineKing,8.0,0.0,8.0,NaN,8.0,2015-09-29 00:00:00,2015-10-02,0,1,1,0.66
9,India-Mills,"Vadodara,India",HD 700Ruby WineStd Case,60.0,8.0,55.0,3.0,52.0,2015-09-28 00:00:00,2015-10-02,0,0,0,0.00
10,India-Mills,"Vadodara,India",HD 700Ruby WineKing Case,36.0,1.0,36.0,1.0,35.0,2015-10-02 00:00:00,2015-10-02,1,0,0,0.33
11,India-Mills,"Vadodara,India",HD 400Light AquaQueen,330.0,20.0,310.0,NaN,310.0,2015-10-02 00:00:00,2015-10-02,1,1,0,0.66
12,India-Mills,"Vadodara,India",HD 400Griffin GreyStd Case,360.0,29.0,331.0,NaN,331.0,2015-10-02 00:00:00,2015-10-02,1,1,0,0.66
13,India-Mills,"Vadodara,India",HD 400Griffin GreyKing,230.0,16.0,221.0,7.0,214.0,2015-10-02 00:00:00,2015-10-02,1,0,0,0.33
14,India-Mills,"Vadodara,India",HD 400Light AquaFull,120.0,0.0,120.0,NaN,120.0,2015-10-02 00:00:00,2015-10-02,1,1,1,1.00
15,India-Mills,"Vadodara,India",HD 400Light AquaKing,150.0,6.0,150.0,6.0,144.0,2015-09-30 00:00:00,2015-10-02,0,0,0,0.00
16,India-Mills,"Vadodara,India",HD 400Griffin GreyFull,100.0,5.0,100.0,5.0,95.0,2015-09-29 00:00:00,2015-10-02,0,0,0,0.00
17,India-Mills,"Vadodara,India",HD 400Griffin GreyKing Case,150.0,0.0,150.0,NaN,150.0,2015-09-28 00:00:00,2015-10-02,0,1,1,0.66
18,India-Mills,"Vadodara,India",HD 400Bright WhiteFull,190.0,11.0,179.0,NaN,179.0,2015-10-02 00:00:00,2015-10-02,1,1,0,0.66
19,India-Mills,"Vadodara,India",HD 400Light AquaKing Case,102.0,4.0,98.0,NaN,98.0,2015-10-02 00:00:00,2015-10-02,1,1,0,0.66
20,India-Mills,"Vadodara,India",HD 400Bright WhiteStd Case,996.0,69.0,956.0,29.0,927.0,2015-10-02 00:00:00,2015-10-02,1,0,0,0.33
21,India-Mills,"Vadodara,India",HD 400IvoryFull,66.0,0.0,66.0,NaN,66.0,2015-10-02 00:00:00,2015-10-02,1,1,1,1.00
22,India-Mills,"Vadodara,India",HD 400LatteStd Case,396.0,20.0,396.0,20.0,376.0,2015-10-02 00:00:00,2015-10-02,1,0,0,0.33
23,India-Mills,"Vadodara,India",HD 400IvoryKing Case,120.0,4.0,120.0,4.0,116.0,2015-10-02 00:00:00,2015-10-02,1,0,0,0.33
24,India-Mills,"Vadodara,India",HD 400IvoryStd Case,300.0,6.0,300.0,6.0,294.0,2015-10-02 00:00:00,2015-10-02,1,0,0,0.33
25,India-Mills,"Vadodara,India",HD 400LatteKing Case,120.0,0.0,120.0,NaN,120.0,2015-10-02 00:00:00,2015-10-02,1,1,1,1.00
26,India-Mills,"Vadodara,India",HD 400Bright WhiteKing Case,360.0,18.0,360.0,18.0,342.0,2015-09-30 00:00:00,2015-10-02,0,0,0,0.00
27,India-Mills,"Vadodara,India",HD 400Bright WhiteKing,240.0,14.0,235.0,9.0,226.0,2015-10-02 00:00:00,2015-10-02,1,0,0,0.33
28,India-Mills,"Vadodara,India",HD 400IvoryKing,110.0,0.0,110.0,NaN,110.0,2015-10-02 00:00:00,2015-10-02,1,1,1,1.00
29,India-Mills,"Vadodara,India",HD 400LatteFull,64.0,3.0,61.0,NaN,61.0,2015-10-02 00:00:00,2015-10-02,1,1,0,0.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3683,China Mills,"Shenzhen, China",HD 400Light AquaFull,2.0,0.0,2.0,0.0,2.0,2016-10-26 00:00:00,2016-10-26,1,1,1,1.00
3684,China Mills,"Shenzhen, China",HD 400Light AquaKing,8.0,0.0,8.0,NaN,8.0,2016-10-26 00:00:00,2016-10-26,1,1,1,1.00
3685,China Mills,"Shenzhen, China",HD 400Light AquaKing,60.0,2.0,60.0,2.0,58.0,2016-10-26 00:00:00,2016-10-26,1,0,0,0.33
3686,China Mills,"Shenzhen, China",HD 400Griffin GreyFull,12.0,1.0,12.0,1.0,11.0,2016-10-28 00:00:00,2016-10-26,1,0,0,0.33
3687,China Mills,"Shenzhen, China",HD 400Griffin GreyFull,98.0,0.0,98.0,NaN,98.0,2016-10-29 00:00:00,2016-10-26,1,1,1,1.00
3688,China Mills,"Shenzhen, China",HD 400Griffin GreyKing Case,15.0,7.0,8.0,NaN,8.0,2016-10-23 00:00:00,2016-10-26,0,1,0,0.33
3689,China Mills,"Shenzhen, China",HD 400Bright WhiteFull,58.0,0.0,58.0,NaN,58.0,2016-10-22 00:00:00,2016-10-26,0,1,1,0.66
3690,China Mills,"Shenzhen, China",HD 400Bright WhiteFull,22.0,1.0,22.0,1.0,21.0,2016-10-26 00:00:00,2016-10-26,1,0,0,0.33
3691,China Mills,"Shenzhen, China",HD 400Light AquaKing Case,18.0,1.0,17.0,NaN,17.0,2016-10-26 00:00:00,2016-10-26,1,1,0,0.66
3692,China Mills,"Shenzhen, China",HD 400Light AquaKing Case,35.0,5.0,32.0,2.0,30.0,2016-10-26 00:00:00,2016-10-26,1,0,0,0.33
3693,China Mills,"Shenzhen, China",HD 400Bright WhiteStd Case,133.0,10.0,127.0,4.0,123.0,2016-10-26 00:00:00,2016-10-26,1,0,0,0.33
3694,China Mills,"Shenzhen, China",HD 400Bright WhiteStd Case,48.0,0.0,48.0,NaN,48.0,2016-10-26 00:00:00,2016-10-26,1,1,1,1.00
3695,China Mills,"Shenzhen, China",HD 400LatteStd Case,2.0,0.0,2.0,NaN,2.0,2016-10-24 00:00:00,2016-10-26,0,1,1,0.66
3696,China Mills,"Shenzhen, China",HD 400LatteStd Case,8.0,0.0,8.0,0.0,8.0,2016-10-23 00:00:00,2016-10-26,0,1,1,0.66
3697,China Mills,"Shenzhen, China",HD 400LatteKing Case,60.0,0.0,60.0,NaN,60.0,2016-10-22 00:00:00,2016-10-26,0,1,1,0.66
3698,China Mills,"Shenzhen, China",HD 400LatteKing Case,113.0,12.0,106.0,5.0,101.0,2016-10-26 00:00:00,2016-10-26,1,0,0,0.33
3699,China Mills,"Shenzhen, China",HD 400Bright WhiteKing Case,58.0,2.0,58.0,2.0,56.0,2016-10-26 00:00:00,2016-10-26,1,0,0,0.33
3700,China Mills,"Shenzhen, China",HD 400Bright WhiteKing Case,79.0,3.0,76.0,NaN,76.0,2016-10-26 00:00:00,2016-10-26,1,1,0,0.66
3701,China Mills,"Shenzhen, China",HD 400Bright WhiteKing,27.0,0.0,27.0,NaN,27.0,2016-10-26 00:00:00,2016-10-26,1,1,1,1.00
3702,China Mills,"Shenzhen, China",HD 400Bright WhiteKing,150.0,0.0,150.0,NaN,150.0,2016-10-26 00:00:00,2016-10-26,1,1,1,1.00
3703,China Mills,"Shenzhen, China",HD 400LatteFull,13.0,0.0,13.0,0.0,13.0,2016-10-26 00:00:00,2016-10-26,1,1,1,1.00
3704,China Mills,"Shenzhen, China",HD 400LatteFull,48.0,0.0,48.0,NaN,48.0,2016-10-26 00:00:00,2016-10-26,1,1,1,1.00
3705,China Mills,"Shenzhen, China",HD 400Light AquaStd Case,2.0,0.0,2.0,0.0,2.0,2016-10-26 00:00:00,2016-10-26,1,1,1,1.00
3706,China Mills,"Shenzhen, China",HD 400Light AquaStd Case,8.0,0.0,8.0,0.0,8.0,2016-10-29 00:00:00,2016-10-26,1,1,1,1.00
3707,China Mills,"Shenzhen, China",HD 400LatteKing,60.0,0.0,60.0,NaN,60.0,2016-10-23 00:00:00,2016-10-26,0,1,1,0.66
3708,China Mills,"Shenzhen, China",HD 400LatteKing,996.0,0.0,996.0,NaN,996.0,2016-10-22 00:00:00,2016-10-26,0,1,1,0.66
3709,China Mills,"Shenzhen, China",HD 400Bright WhiteQueen,66.0,2.0,66.0,2.0,64.0,2016-10-26 00:00:00,2016-10-26,1,0,0,0.33
3710,China Mills,"Shenzhen, China",HD 400Bright WhiteQueen,396.0,0.0,396.0,NaN,396.0,2016-10-26 00:00:00,2016-10-26,1,1,1,1.00
3711,China Mills,"Shenzhen, China",HD 400LatteQueen,73.0,3.0,73.0,3.0,70.0,2016-10-26 00:00:00,2016-10-26,1,0,0,0.33
3712,China Mills,"Shenzhen, China",HD 400LatteQueen,58.0,3.0,58.0,3.0,55.0,2016-10-26 00:00:00,2016-10-26,1,0,0,0.33

C:\Users\Tjpat\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,Supplier,Location,Item Unique Identifier,Expected Qty,Short Quantity,Received Qty,Rejected Quantity,Net Quantity,Time Promised,Time Received,On-Time,Quality,Quantity Met,Confidence
475,India-Mills,"Vadodara,India",HD 300Antique WhiteFull,111.0,3.0,111.0,3.0,108.0,2014-12-29 00:00:00,2014-12-26,1,0,0,0.33
965,India-Mills,"Vadodara,India",HD 300Antique WhiteFull,306.0,12.0,294.0,NaN,294.0,2015-10-14 00:00:00,2015-10-14,1,1,0,0.66
2652,China Mills,"Shenzhen, China",HD 300Antique WhiteFull,8.0,0.0,8.0,0.0,8.0,2014-04-09 00:00:00,2014-04-11,0,1,1,0.66
795,India-Mills,"Vadodara,India",HD 300Antique WhiteFull,60.0,2.0,60.0,2.0,58.0,2014-04-09 00:00:00,2014-04-11,0,0,0,0.00
1961,China Mills,"Shenzhen, China",HD 300Antique WhiteFull,34.0,0.0,34.0,NaN,34.0,2015-08-11 00:00:00,2015-08-13,0,1,1,0.66
2468,China Mills,"Shenzhen, China",HD 300Antique WhiteFull,8.0,0.0,8.0,NaN,8.0,2014-09-02 00:00:00,2014-09-02,1,1,1,1.00
104,India-Mills,"Vadodara,India",HD 300Antique WhiteFull,27.0,0.0,27.0,NaN,27.0,2015-08-11 00:00:00,2015-08-13,0,1,1,0.66
2525,China Mills,"Shenzhen, China",HD 300Antique WhiteFull,194.0,17.0,177.0,NaN,177.0,2014-06-23 00:00:00,2014-06-23,1,1,0,0.66
668,India-Mills,"Vadodara,India",HD 300Antique WhiteFull,129.0,11.0,118.0,NaN,118.0,2014-06-23 00:00:00,2014-06-23,1,1,0,0.66
2565,China Mills,"Shenzhen, China",HD 300Antique WhiteFull,175.0,0.0,175.0,NaN,175.0,2014-05-22 00:00:00,2014-05-20,1,1,1,1.00
2106,China Mills,"Shenzhen, China",HD 300Antique WhiteFull,45.0,0.0,45.0,NaN,45.0,2015-05-25 00:00:00,2015-05-27,0,1,1,0.66
611,India-Mills,"Vadodara,India",HD 300Antique WhiteFull,378.0,33.0,363.0,18.0,345.0,2014-09-02 00:00:00,2014-09-02,1,0,0,0.33
1166,India-Mills,"Vadodara,India",HD 300Antique WhiteFull,39.0,0.0,39.0,NaN,39.0,2015-12-03 00:00:00,2015-12-03,1,1,1,1.00
708,India-Mills,"Vadodara,India",HD 300Antique WhiteFull,159.0,5.0,159.0,5.0,154.0,2014-05-22 00:00:00,2014-05-20,1,0,0,0.33
2332,China Mills,"Shenzhen, China",HD 300Antique WhiteFull,122.0,0.0,122.0,NaN,122.0,2014-12-29 00:00:00,2014-12-26,1,1,1,1.00
249,India-Mills,"Vadodara,India",HD 300Antique WhiteFull,30.0,2.0,30.0,2.0,28.0,2015-05-25 00:00:00,2015-05-27,0,0,0,0.00
3023,China Mills,"Shenzhen, China",HD 300Antique WhiteFull,39.0,0.0,39.0,NaN,39.0,2015-12-03 00:00:00,2015-12-03,1,1,1,1.00
2822,China Mills,"Shenzhen, China",HD 300Antique WhiteFull,383.0,26.0,368.0,11.0,357.0,2015-10-14 00:00:00,2015-10-14,1,0,0,0.33
756,India-Mills,"Vadodara,India",HD 300Antique WhiteKing,120.0,6.0,120.0,6.0,114.0,2014-04-11 00:00:00,2014-04-11,1,0,0,0.33
944,India-Mills,"Vadodara,India",HD 300Antique WhiteKing,156.0,0.0,156.0,NaN,156.0,2015-10-11 00:00:00,2015-10-14,0,1,1,0.66
2528,China Mills,"Shenzhen, China",HD 300Antique WhiteKing,48.0,1.0,48.0,1.0,47.0,2014-05-20 00:00:00,2014-05-20,1,0,0,0.33
443,India-Mills,"Vadodara,India",HD 300Antique WhiteKing,50.0,1.0,49.0,NaN,49.0,2014-12-26 00:00:00,2014-12-26,1,1,0,0.66
887,India-Mills,"Vadodara,India",HD 300Antique WhiteKing,82.0,5.0,79.0,2.0,77.0,2014-01-17 00:00:00,2014-01-17,1,0,0,0.33
2613,China Mills,"Shenzhen, China",HD 300Antique WhiteKing,150.0,5.0,150.0,5.0,145.0,2014-04-11 00:00:00,2014-04-11,1,0,0,0.33
2999,China Mills,"Shenzhen, China",HD 300Antique WhiteKing,60.0,2.0,60.0,2.0,58.0,2015-12-03 00:00:00,2015-12-03,1,0,0,0.33
631,India-Mills,"Vadodara,India",HD 300Antique WhiteKing,26.0,4.0,22.0,NaN,22.0,2014-06-26 00:00:00,2014-06-23,1,1,0,0.66
2431,China Mills,"Shenzhen, China",HD 300Antique WhiteKing,357.0,14.0,357.0,14.0,343.0,2014-09-02 00:00:00,2014-09-02,1,0,0,0.33
671,India-Mills,"Vadodara,India",HD 300Antique WhiteKing,102.0,3.0,102.0,3.0,99.0,2014-05-20 00:00:00,2014-05-20,1,0,0,0.33
2801,China Mills,"Shenzhen, China",HD 300Antique WhiteKing,2.0,0.0,2.0,NaN,2.0,2015-10-11 00:00:00,2015-10-14,0,1,1,0.66
2062,China Mills,"Shenzhen, China",HD 300Antique WhiteKing,2.0,0.0,2.0,0.0,2.0,2015-05-27 00:00:00,2015-05-27,1,1,1,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031,India-Mills,"Vadodara,India",HD 700SecrestKing Case,18.0,-24.0,42.0,NaN,42.0,2015-10-22 00:00:00,2015-10-26,0,1,1,0.66
2890,China Mills,"Shenzhen, China",HD 700SecrestKing Case,60.0,2.0,60.0,2.0,58.0,2015-10-26 00:00:00,2015-10-26,1,0,0,0.33
1032,India-Mills,"Vadodara,India",HD 700SecrestKing Case,18.0,18.0,0.0,NaN,0.0,2015-10-26 00:00:00,2015-10-26,1,1,0,0.66
2050,China Mills,"Shenzhen, China",HD 700SecrestKing Case,94.0,13.0,81.0,NaN,81.0,2015-05-27 00:00:00,2015-05-27,1,1,0,0.66
2141,China Mills,"Shenzhen, China",HD 700SecrestKing Case,109.0,15.0,94.0,NaN,94.0,2015-04-20 00:00:00,2015-04-20,1,1,0,0.66
2138,China Mills,"Shenzhen, China",HD 700SecrestQueen,339.0,18.0,334.0,13.0,321.0,2015-04-20 00:00:00,2015-04-20,1,0,0,0.33
1023,India-Mills,"Vadodara,India",HD 700SecrestQueen,92.0,-67.0,169.0,10.0,159.0,2015-10-22 00:00:00,2015-10-26,0,0,1,0.33
1024,India-Mills,"Vadodara,India",HD 700SecrestQueen,86.0,86.0,0.0,0.0,0.0,2015-10-26 00:00:00,2015-10-26,1,1,0,0.66
1022,India-Mills,"Vadodara,India",HD 700SecrestQueen,6.0,6.0,0.0,NaN,0.0,2015-10-23 00:00:00,2015-10-26,0,1,0,0.33
2880,China Mills,"Shenzhen, China",HD 700SecrestQueen,396.0,0.0,396.0,NaN,396.0,2015-10-22 00:00:00,2015-10-26,0,1,1,0.66
281,India-Mills,"Vadodara,India",HD 700SecrestQueen,308.0,19.0,304.0,15.0,289.0,2015-04-20 00:00:00,2015-04-20,1,0,0,0.33
60,India-Mills,"Vadodara,India",HD 700SecrestQueen,24.0,1.0,24.0,1.0,23.0,2015-09-22 00:00:00,2015-09-25,0,0,0,0.00
1917,China Mills,"Shenzhen, China",HD 700SecrestQueen,60.0,0.0,60.0,NaN,60.0,2015-09-22 00:00:00,2015-09-25,0,1,1,0.66
2881,China Mills,"Shenzhen, China",HD 700SecrestQueen,108.0,108.0,0.0,0.0,0.0,2015-10-26 00:00:00,2015-10-26,1,1,0,0.66
190,India-Mills,"Vadodara,India",HD 700SecrestQueen,246.0,7.0,246.0,7.0,239.0,2015-05-24 00:00:00,2015-05-27,0,0,0,0.00
2047,China Mills,"Shenzhen, China",HD 700SecrestQueen,271.0,0.0,271.0,NaN,271.0,2015-05-24 00:00:00,2015-05-27,0,1,1,0.66
2879,China Mills,"Shenzhen, China",HD 700SecrestQueen,66.0,2.0,66.0,2.0,64.0,2015-10-23 00:00:00,2015-10-26,0,0,0,0.00
2049,China Mills,"Shenzhen, China",HD 700SecrestStd Case,179.0,5.0,179.0,5.0,174.0,2015-05-27 00:00:00,2015-05-27,1,0,0,0.33
1919,China Mills,"Shenzhen, China",HD 700SecrestStd Case,58.0,0.0,58.0,NaN,58.0,2015-09-25 00:00:00,2015-09-25,1,1,1,1.00
62,India-Mills,"Vadodara,India",HD 700SecrestStd Case,306.0,0.0,306.0,NaN,306.0,2015-09-25 00:00:00,2015-09-25,1,1,1,1.00
283,India-Mills,"Vadodara,India",HD 700SecrestStd Case,192.0,10.0,186.0,4.0,182.0,2015-04-20 00:00:00,2015-04-20,1,0,0,0.33
1029,India-Mills,"Vadodara,India",HD 700SecrestStd Case,66.0,-66.0,138.0,6.0,132.0,2015-10-24 00:00:00,2015-10-26,0,0,1,0.33
192,India-Mills,"Vadodara,India",HD 700SecrestStd Case,156.0,6.0,156.0,6.0,150.0,2015-05-27 00:00:00,2015-05-27,1,0,0,0.33
2887,China Mills,"Shenzhen, China",HD 700SecrestStd Case,48.0,0.0,48.0,NaN,48.0,2015-10-23 00:00:00,2015-10-26,0,1,1,0.66
1028,India-Mills,"Vadodara,India",HD 700SecrestStd Case,54.0,54.0,0.0,NaN,0.0,2015-10-26 00:00:00,2015-10-26,1,1,0,0.66
2886,China Mills,"Shenzhen, China",HD 700SecrestStd Case,86.0,-86.0,179.0,7.0,172.0,2015-10-24 00:00:00,2015-10-26,0,0,1,0.33
2885,China Mills,"Shenzhen, China",HD 700SecrestStd Case,62.0,62.0,0.0,0.0,0.0,2015-10-26 00:00:00,2015-10-26,1,1,0,0.66
2140,China Mills,"Shenzhen, China",HD 700SecrestStd Case,221.0,7.0,214.0,NaN,214.0,2015-04-20 00:00:00,2015-04-20,1,1,0,0.66
1030,India-Mills,"Vadodara,India",HD 700SecrestStd Case,18.0,18.0,0.0,0.0,0.0,2015-10-23 00:00:00,2015-10-26,0,1,0,0.33
1856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,1,1,1,1.00

                                            Location  Expected Qty  \
Item Unique Identifier  Supplier
HD 300Antique WhiteFull India-Mills   Vadodara,India         111.0
                        India-Mills   Vadodara,India         306.0
                        China Mills  Shenzhen, China           8.0
                        India-Mills   Vadodara,India          60.0
                        China Mills  Shenzhen, China          34.0
                        China Mills  Shenzhen, China           8.0
                        India-Mills   Vadodara,India          27.0
                        China Mills  Shenzhen, China         194.0
                        India-Mills   Vadodara,India         129.0
                        China Mills  Shenzhen, China         175.0
                        China Mills  Shenzhen, China          45.0
                        India-Mills   Vadodara,India         378.0
                        India-Mills   Vadodara,India          39.0
                        India-Mills   Vadodara,India         159.0
                        China Mills  Shenzhen, China         122.0
                        India-Mills   Vadodara,India          30.0
                        China Mills  Shenzhen, China          39.0
                        China Mills  Shenzhen, China         383.0
HD 300Antique WhiteKing India-Mills   Vadodara,India         120.0
                        India-Mills   Vadodara,India         156.0
                        China Mills  Shenzhen, China          48.0
                        India-Mills   Vadodara,India          50.0
                        India-Mills   Vadodara,India          82.0
                        China Mills  Shenzhen, China         150.0
                        China Mills  Shenzhen, China          60.0
                        India-Mills   Vadodara,India          26.0
                        China Mills  Shenzhen, China         357.0
                        India-Mills   Vadodara,India         102.0
                        China Mills  Shenzhen, China           2.0
                        China Mills  Shenzhen, China           2.0
...                                              ...           ...
HD 700SecrestKing Case  India-Mills   Vadodara,India          18.0
                        China Mills  Shenzhen, China          60.0
                        India-Mills   Vadodara,India          18.0
                        China Mills  Shenzhen, China          94.0
                        China Mills  Shenzhen, China         109.0
HD 700SecrestQueen      China Mills  Shenzhen, China         339.0
                        India-Mills   Vadodara,India          92.0
                        India-Mills   Vadodara,India          86.0
                        India-Mills   Vadodara,India           6.0
                        China Mills  Shenzhen, China         396.0
                        India-Mills   Vadodara,India         308.0
                        India-Mills   Vadodara,India          24.0
                        China Mills  Shenzhen, China          60.0
                        China Mills  Shenzhen, China         108.0
                        India-Mills   Vadodara,India         246.0
                        China Mills  Shenzhen, China         271.0
                        China Mills  Shenzhen, China          66.0
HD 700SecrestStd Case   China Mills  Shenzhen, China         179.0
                        China Mills  Shenzhen, China          58.0
                        India-Mills   Vadodara,India         306.0
                        India-Mills   Vadodara,India         192.0
                        India-Mills   Vadodara,India          66.0
                        India-Mills   Vadodara,India         156.0
                        China Mills  Shenzhen, China          48.0
                        India-Mills   Vadodara,India          54.0
                        China Mills  Shenzhen, China          86.0
                        China Mills  Shenzhen, China          62.0
                        China Mills  Shenzhen, China         221.0
                        India-Mills   Vadodara,India          18.0
NaN                     NaN                      NaN           NaN

                                     Short Quantity  Received Qty  \
Item Unique Identifier  Supplier
HD 300Antique WhiteFull India-Mills             3.0         111.0
                        India-Mills            12.0         294.0
                        China Mills             0.0           8.0
                        India-Mills             2.0          60.0
                        China Mills             0.0          34.0
                        China Mills             0.0           8.0
                        India-Mills             0.0          27.0
                        China Mills            17.0         177.0
                        India-Mills            11.0         118.0
                        China Mills             0.0         175.0
                        China Mills             0.0          45.0
                        India-Mills            33.0         363.0
                        India-Mills             0.0          39.0
                        India-Mills             5.0         159.0
                        China Mills             0.0         122.0
                        India-Mills             2.0          30.0
                        China Mills             0.0          39.0
                        China Mills            26.0         368.0
HD 300Antique WhiteKing India-Mills             6.0         120.0
                        India-Mills             0.0         156.0
                        China Mills             1.0          48.0
                        India-Mills             1.0          49.0
                        India-Mills             5.0          79.0
                        China Mills             5.0         150.0
                        China Mills             2.0          60.0
                        India-Mills             4.0          22.0
                        China Mills            14.0         357.0
                        India-Mills             3.0         102.0
                        China Mills             0.0           2.0
                        China Mills             0.0           2.0
...                                             ...           ...
HD 700SecrestKing Case  India-Mills           -24.0          42.0
                        China Mills             2.0          60.0
                        India-Mills            18.0           0.0
                        China Mills            13.0          81.0
                        China Mills            15.0          94.0
HD 700SecrestQueen      China Mills            18.0         334.0
                        India-Mills           -67.0         169.0
                        India-Mills            86.0           0.0
                        India-Mills             6.0           0.0
                        China Mills             0.0         396.0
                        India-Mills            19.0         304.0
                        India-Mills             1.0          24.0
                        China Mills             0.0          60.0
                        China Mills           108.0           0.0
                        India-Mills             7.0         246.0
                        China Mills             0.0         271.0
                        China Mills             2.0          66.0
HD 700SecrestStd Case   China Mills             5.0         179.0
                        China Mills             0.0          58.0
                        India-Mills             0.0         306.0
                        India-Mills            10.0         186.0
                        India-Mills           -66.0         138.0
                        India-Mills             6.0         156.0
                        China Mills             0.0          48.0
                        India-Mills            54.0           0.0
                        China Mills           -86.0         179.0
                        China Mills            62.0           0.0
                        China Mills             7.0         214.0
                        India-Mills            18.0           0.0
NaN                     NaN                     NaN           NaN

                                     Rejected Quantity  Net Quantity  \
Item Unique Identifier  Supplier
HD 300Antique WhiteFull India-Mills                3.0         108.0
                        India-Mills                NaN         294.0
                        China Mills                0.0           8.0
                        India-Mills                2.0          58.0
                        China Mills                NaN          34.0
                        China Mills                NaN           8.0
                        India-Mills                NaN          27.0
                        China Mills                NaN         177.0
                        India-Mills                NaN         118.0
                        China Mills                NaN         175.0
                        China Mills                NaN          45.0
                        India-Mills               18.0         345.0
                        India-Mills                NaN          39.0
                        India-Mills                5.0         154.0
                        China Mills                NaN         122.0
                        India-Mills                2.0          28.0
                        China Mills                NaN          39.0
                        China Mills               11.0         357.0
HD 300Antique WhiteKing India-Mills                6.0         114.0
                        India-Mills                NaN         156.0
                        China Mills                1.0          47.0
                        India-Mills                NaN          49.0
                        India-Mills                2.0          77.0
                        China Mills                5.0         145.0
                        China Mills                2.0          58.0
                        India-Mills                NaN          22.0
                        China Mills               14.0         343.0
                        India-Mills                3.0          99.0
                        China Mills                NaN           2.0
                        China Mills                0.0           2.0
...                                                ...           ...
HD 700SecrestKing Case  India-Mills                NaN          42.0
                        China Mills                2.0          58.0
                        India-Mills                NaN           0.0
                        China Mills                NaN          81.0
                        China Mills                NaN          94.0
HD 700SecrestQueen      China Mills               13.0         321.0
                        India-Mills               10.0         159.0
                        India-Mills                0.0           0.0
                        India-Mills                NaN           0.0
                        China Mills                NaN         396.0
                        India-Mills               15.0         289.0
                        India-Mills                1.0          23.0
                        China Mills                NaN          60.0
                        China Mills                0.0           0.0
                        India-Mills                7.0         239.0
                        China Mills                NaN         271.0
                        China Mills                2.0          64.0
HD 700SecrestStd Case   China Mills                5.0         174.0
                        China Mills                NaN          58.0
                        India-Mills                NaN         306.0
                        India-Mills                4.0         182.0
                        India-Mills                6.0         132.0
                        India-Mills                6.0         150.0
                        China Mills                NaN          48.0
                        India-Mills                NaN           0.0
                        China Mills                7.0         172.0
                        China Mills                0.0           0.0
                        China Mills                NaN         214.0
                        India-Mills                0.0           0.0
NaN                     NaN                        NaN           NaN

                                           Time Promised Time Received  \
Item Unique Identifier  Supplier
HD 300Antique WhiteFull India-Mills  2014-12-29 00:00:00    2014-12-26
                        India-Mills  2015-10-14 00:00:00    2015-10-14
                        China Mills  2014-04-09 00:00:00    2014-04-11
                        India-Mills  2014-04-09 00:00:00    2014-04-11
                        China Mills  2015-08-11 00:00:00    2015-08-13
                        China Mills  2014-09-02 00:00:00    2014-09-02
                        India-Mills  2015-08-11 00:00:00    2015-08-13
                        China Mills  2014-06-23 00:00:00    2014-06-23
                        India-Mills  2014-06-23 00:00:00    2014-06-23
                        China Mills  2014-05-22 00:00:00    2014-05-20
                        China Mills  2015-05-25 00:00:00    2015-05-27
                        India-Mills  2014-09-02 00:00:00    2014-09-02
                        India-Mills  2015-12-03 00:00:00    2015-12-03
                        India-Mills  2014-05-22 00:00:00    2014-05-20
                        China Mills  2014-12-29 00:00:00    2014-12-26
                        India-Mills  2015-05-25 00:00:00    2015-05-27
                        China Mills  2015-12-03 00:00:00    2015-12-03
                        China Mills  2015-10-14 00:00:00    2015-10-14
HD 300Antique WhiteKing India-Mills  2014-04-11 00:00:00    2014-04-11
                        India-Mills  2015-10-11 00:00:00    2015-10-14
                        China Mills  2014-05-20 00:00:00    2014-05-20
                        India-Mills  2014-12-26 00:00:00    2014-12-26
                        India-Mills  2014-01-17 00:00:00    2014-01-17
                        China Mills  2014-04-11 00:00:00    2014-04-11
                        China Mills  2015-12-03 00:00:00    2015-12-03
                        India-Mills  2014-06-26 00:00:00    2014-06-23
                        China Mills  2014-09-02 00:00:00    2014-09-02
                        India-Mills  2014-05-20 00:00:00    2014-05-20
                        China Mills  2015-10-11 00:00:00    2015-10-14
                        China Mills  2015-05-27 00:00:00    2015-05-27
...                                                  ...           ...
HD 700SecrestKing Case  India-Mills  2015-10-22 00:00:00    2015-10-26
                        China Mills  2015-10-26 00:00:00    2015-10-26
                        India-Mills  2015-10-26 00:00:00    2015-10-26
                        China Mills  2015-05-27 00:00:00    2015-05-27
                        China Mills  2015-04-20 00:00:00    2015-04-20
HD 700SecrestQueen      China Mills  2015-04-20 00:00:00    2015-04-20
                        India-Mills  2015-10-22 00:00:00    2015-10-26
                        India-Mills  2015-10-26 00:00:00    2015-10-26
                        India-Mills  2015-10-23 00:00:00    2015-10-26
                        China Mills  2015-10-22 00:00:00    2015-10-26
                        India-Mills  2015-04-20 00:00:00    2015-04-20
                        India-Mills  2015-09-22 00:00:00    2015-09-25
                        China Mills  2015-09-22 00:00:00    2015-09-25
                        China Mills  2015-10-26 00:00:00    2015-10-26
                        India-Mills  2015-05-24 00:00:00    2015-05-27
                        China Mills  2015-05-24 00:00:00    2015-05-27
                        China Mills  2015-10-23 00:00:00    2015-10-26
HD 700SecrestStd Case   China Mills  2015-05-27 00:00:00    2015-05-27
                        China Mills  2015-09-25 00:00:00    2015-09-25
                        India-Mills  2015-09-25 00:00:00    2015-09-25
                        India-Mills  2015-04-20 00:00:00    2015-04-20
                        India-Mills  2015-10-24 00:00:00    2015-10-26
                        India-Mills  2015-05-27 00:00:00    2015-05-27
                        China Mills  2015-10-23 00:00:00    2015-10-26
                        India-Mills  2015-10-26 00:00:00    2015-10-26
                        China Mills  2015-10-24 00:00:00    2015-10-26
                        China Mills  2015-10-26 00:00:00    2015-10-26
                        China Mills  2015-04-20 00:00:00    2015-04-20
                        India-Mills  2015-10-23 00:00:00    2015-10-26
NaN                     NaN                          NaN           NaT

                                     On-Time  Quality  Quantity Met  \
Item Unique Identifier  Supplier
HD 300Antique WhiteFull India-Mills        1        0             0
                        India-Mills        1        1             0
                        China Mills        0        1             1
                        India-Mills        0        0             0
                        China Mills        0        1             1
                        China Mills        1        1             1
                        India-Mills        0        1             1
                        China Mills        1        1             0
                        India-Mills        1        1             0
                        China Mills        1        1             1
                        China Mills        0        1             1
                        India-Mills        1        0             0
                        India-Mills        1        1             1
                        India-Mills        1        0             0
                        China Mills        1        1             1
                        India-Mills        0        0             0
                        China Mills        1        1             1
                        China Mills        1        0             0
HD 300Antique WhiteKing India-Mills        1        0             0
                        India-Mills        0        1             1
                        China Mills        1        0             0
                        India-Mills        1        1             0
                        India-Mills        1        0             0
                        China Mills        1        0             0
                        China Mills        1        0             0
                        India-Mills        1        1             0
                        China Mills        1        0             0
                        India-Mills        1        0             0
                        China Mills        0        1             1
                        China Mills        1        1             1
...                                      ...      ...           ...
HD 700SecrestKing Case  India-Mills        0        1             1
                        China Mills        1        0             0
                        India-Mills        1        1             0
                        China Mills        1        1             0
                        China Mills        1        1             0
HD 700SecrestQueen      China Mills        1        0             0
                        India-Mills        0        0             1
                        India-Mills        1        1             0
                        India-Mills        0        1             0
                        China Mills        0        1             1

In [38]:
def calculateConfidence(x):
    total = x['On-Time']+x['Quality']+x['Quantity Met']
    
    if total == 0:
        return 0.0
    elif total == 1:
        return 0.33
    elif total == 2:
        return 0.66
    else:
        return 1.0

In [39]:
df['Confidence'] = df.apply(lambda x: calculateConfidence(x),axis=1)

In [41]:
df['Location'].unique()

array([u'Vadodara,India', nan, u'Shenzhen, China'], dtype=object)

In [183]:
df_prd = df[df["Item Unique Identifier"] == "HD 700Desert TaupeQueen"]

In [270]:
df_prd

,Supplier,Expected Qty,Short Quantity,Received Qty,Rejected Quantity,Net Quantity,Time Promised,Time Received,On-Time,Quality,Quantity Met,Confidence
0,India-Mills,68.0,1.0,68.0,1.0,67.0,2015-09-30 00:00:00,2015-10-02,0,0,0,0.00
49,India-Mills,76.0,0.0,76.0,NaN,76.0,2015-09-25 00:00:00,2015-09-25,1,1,1,1.00
175,India-Mills,216.0,21.0,205.0,10.0,195.0,2015-05-27 00:00:00,2015-05-27,1,0,0,0.33
266,India-Mills,150.0,3.0,152.0,5.0,147.0,2015-04-22 00:00:00,2015-04-20,1,0,0,0.33
1000,India-Mills,28.0,-80.0,112.0,4.0,108.0,2015-10-26 00:00:00,2015-10-26,1,0,1,0.66
1001,India-Mills,94.0,94.0,0.0,NaN,0.0,2015-10-26 00:00:00,2015-10-26,1,1,0,0.66
1180,India-Mills,150.0,5.0,150.0,5.0,145.0,2015-12-10 00:00:00,2015-12-10,1,0,0,0.33
1219,India-Mills,206.0,6.0,206.0,6.0,200.0,2016-01-05 00:00:00,2016-01-05,1,0,0,0.33
1288,India-Mills,554.0,64.0,521.0,31.0,490.0,2016-01-27 00:00:00,2016-01-27,1,0,0,0.33
1354,India-Mills,120.0,0.0,120.0,NaN,120.0,2016-03-24 00:00:00,2016-03-24,1,1,1,1.00
1442,India-Mills,152.0,18.0,140.0,6.0,134.0,2016-04-08 00:00:00,2016-04-12,0,0,0,0.00
1443,India-Mills,30.0,0.0,30.0,NaN,30.0,2016-04-12 00:00:00,2016-04-12,1,1,1,1.00
1469,India-Mills,208.0,0.0,208.0,NaN,208.0,2016-05-25 00:00:00,2016-05-25,1,1,1,1.00
1527,India-Mills,120.0,4.0,120.0,4.0,116.0,2016-05-21 00:00:00,2016-05-24,0,0,0,0.00
1752,India-Mills,36.0,0.0,36.0,NaN,36.0,2016-10-29 00:00:00,2016-10-26,1,1,1,1.00
1753,India-Mills,142.0,0.0,142.0,NaN,142.0,2016-10-23 00:00:00,2016-10-26,0,1,1,0.66
1857,China Mills,85.0,3.0,85.0,3.0,82.0,2015-09-30 00:00:00,2015-10-02,0,0,0,0.00
1906,China Mills,8.0,0.0,8.0,NaN,8.0,2015-09-25 00:00:00,2015-09-25,1,1,1,1.00
2032,China Mills,270.0,24.0,256.0,10.0,246.0,2015-05-27 00:00:00,2015-05-27,1,0,0,0.33
2123,China Mills,996.0,0.0,996.0,NaN,996.0,2015-04-22 00:00:00,2015-04-20,1,1,1,1.00
2857,China Mills,28.0,-94.0,122.0,NaN,122.0,2015-10-26 00:00:00,2015-10-26,1,1,1,1.00
2858,China Mills,118.0,118.0,0.0,NaN,0.0,2015-10-26 00:00:00,2015-10-26,1,1,0,0.66
3037,China Mills,58.0,0.0,58.0,NaN,58.0,2015-12-10 00:00:00,2015-12-10,1,1,1,1.00
3076,China Mills,60.0,0.0,60.0,NaN,60.0,2016-01-05 00:00:00,2016-01-05,1,1,1,1.00
3145,China Mills,609.0,36.0,573.0,NaN,573.0,2016-01-27 00:00:00,2016-01-27,1,1,0,0.66
3211,China Mills,996.0,30.0,996.0,30.0,966.0,2016-03-24 00:00:00,2016-03-24,1,0,0,0.33
3299,China Mills,190.0,24.0,175.0,9.0,166.0,2016-04-08 00:00:00,2016-04-12,0,0,0,0.00
3300,China Mills,58.0,2.0,58.0,2.0,56.0,2016-04-12 00:00:00,2016-04-12,1,0,0,0.33
3326,China Mills,60.0,0.0,60.0,NaN,60.0,2016-05-25 00:00:00,2016-05-25,1,1,1,1.00
3384,China Mills,138.0,3.0,138.0,3.0,135.0,2016-05-21 00:00:00,2016-05-24,0,0,0,0.00
3609,China Mills,41.0,2.0,41.0,2.0,39.0,2016-10-29 00:00:00,2016-10-26,1,0,0,0.33
3610,China Mills,185.0,0.0,185.0,NaN,185.0,2016-10-23 00:00:00,2016-10-26,0,1,1,0.66

In [188]:
df_prd = df_prd.drop("Item Unique Identifier", axis=1)

In [191]:
df_prd = df_prd.drop("Location", axis=1)

In [197]:
df_prd[df_prd["Confidence"] == 0.0]

,Supplier,Expected Qty,Short Quantity,Received Qty,Rejected Quantity,Net Quantity,Time Promised,Time Received,On-Time,Quality,Quantity Met,Confidence
0,India-Mills,68.0,1.0,68.0,1.0,67.0,2015-09-30 00:00:00,2015-10-02,0,0,0,0.0
1442,India-Mills,152.0,18.0,140.0,6.0,134.0,2016-04-08 00:00:00,2016-04-12,0,0,0,0.0
1527,India-Mills,120.0,4.0,120.0,4.0,116.0,2016-05-21 00:00:00,2016-05-24,0,0,0,0.0
1857,China Mills,85.0,3.0,85.0,3.0,82.0,2015-09-30 00:00:00,2015-10-02,0,0,0,0.0
3299,China Mills,190.0,24.0,175.0,9.0,166.0,2016-04-08 00:00:00,2016-04-12,0,0,0,0.0
3384,China Mills,138.0,3.0,138.0,3.0,135.0,2016-05-21 00:00:00,2016-05-24,0,0,0,0.0

In [198]:
df_prd[df_prd["Confidence"] == 0.33]

,Supplier,Expected Qty,Short Quantity,Received Qty,Rejected Quantity,Net Quantity,Time Promised,Time Received,On-Time,Quality,Quantity Met,Confidence
175,India-Mills,216.0,21.0,205.0,10.0,195.0,2015-05-27 00:00:00,2015-05-27,1,0,0,0.33
266,India-Mills,150.0,3.0,152.0,5.0,147.0,2015-04-22 00:00:00,2015-04-20,1,0,0,0.33
1180,India-Mills,150.0,5.0,150.0,5.0,145.0,2015-12-10 00:00:00,2015-12-10,1,0,0,0.33
1219,India-Mills,206.0,6.0,206.0,6.0,200.0,2016-01-05 00:00:00,2016-01-05,1,0,0,0.33
1288,India-Mills,554.0,64.0,521.0,31.0,490.0,2016-01-27 00:00:00,2016-01-27,1,0,0,0.33
2032,China Mills,270.0,24.0,256.0,10.0,246.0,2015-05-27 00:00:00,2015-05-27,1,0,0,0.33
3211,China Mills,996.0,30.0,996.0,30.0,966.0,2016-03-24 00:00:00,2016-03-24,1,0,0,0.33
3300,China Mills,58.0,2.0,58.0,2.0,56.0,2016-04-12 00:00:00,2016-04-12,1,0,0,0.33
3609,China Mills,41.0,2.0,41.0,2.0,39.0,2016-10-29 00:00:00,2016-10-26,1,0,0,0.33

# Filtering only 0.66 Confidence rows

In [253]:
df_66 = df_prd[df_prd["Confidence"] == 0.66]
df_66

,Supplier,Expected Qty,Short Quantity,Received Qty,Rejected Quantity,Net Quantity,Time Promised,Time Received,On-Time,Quality,Quantity Met,Confidence
1000,India-Mills,28.0,-80.0,112.0,4.0,108.0,2015-10-26 00:00:00,2015-10-26,1,0,1,0.66
1001,India-Mills,94.0,94.0,0.0,NaN,0.0,2015-10-26 00:00:00,2015-10-26,1,1,0,0.66
1753,India-Mills,142.0,0.0,142.0,NaN,142.0,2016-10-23 00:00:00,2016-10-26,0,1,1,0.66
2858,China Mills,118.0,118.0,0.0,NaN,0.0,2015-10-26 00:00:00,2015-10-26,1,1,0,0.66
3145,China Mills,609.0,36.0,573.0,NaN,573.0,2016-01-27 00:00:00,2016-01-27,1,1,0,0.66
3610,China Mills,185.0,0.0,185.0,NaN,185.0,2016-10-23 00:00:00,2016-10-26,0,1,1,0.66

## Dropping irrerlevant columns

In [254]:
df_up66 = df_66.drop(["Short Quantity","Received Qty","Rejected Quantity","Time Promised","Time Received","On-Time","Quality","Quantity Met","Confidence"] , axis=1)
df_up66

         Supplier  Expected Qty  Net Quantity
1000  India-Mills          28.0         108.0
1001  India-Mills          94.0           0.0
1753  India-Mills         142.0         142.0
2858  China Mills         118.0           0.0
3145  China Mills         609.0         573.0
3610  China Mills         185.0         185.0

## Calculating Net Difference as Net Quantity - Expected Quantity

In [255]:
df_up66["NetDiff"] = df_up66["Net Quantity"] - df_up66["Expected Qty"]
df_up66

         Supplier  Expected Qty  Net Quantity  NetDiff
1000  India-Mills          28.0         108.0     80.0
1001  India-Mills          94.0           0.0    -94.0
1753  India-Mills         142.0         142.0      0.0
2858  China Mills         118.0           0.0   -118.0
3145  China Mills         609.0         573.0    -36.0
3610  China Mills         185.0         185.0      0.0

## Calculating mean of Net Difference and group by supplier

In [256]:
df_up66 = df_up66.groupby('Supplier', as_index=False)['NetDiff'].mean()
df_up66

      Supplier    NetDiff
0  China Mills -51.333333
1  India-Mills  -4.666667

In [230]:
#df_up66 = df_up66.sort("NetDiff")

C:\Users\Tjpat\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [245]:
#df_up66["Rank"] = range(1,len(df_up66)+1)

In [246]:
#df_up66 = df_up66.set_index("Rank")

# Filtering only 1.0 Confidence rows
## And performing same steps which were performed for 0.66 (above)

In [248]:
df_1 = df_prd[df_prd["Confidence"] == 1.0]
df_1

,Supplier,Expected Qty,Short Quantity,Received Qty,Rejected Quantity,Net Quantity,Time Promised,Time Received,On-Time,Quality,Quantity Met,Confidence
49,India-Mills,76.0,0.0,76.0,NaN,76.0,2015-09-25 00:00:00,2015-09-25,1,1,1,1.0
1354,India-Mills,120.0,0.0,120.0,NaN,120.0,2016-03-24 00:00:00,2016-03-24,1,1,1,1.0
1443,India-Mills,30.0,0.0,30.0,NaN,30.0,2016-04-12 00:00:00,2016-04-12,1,1,1,1.0
1469,India-Mills,208.0,0.0,208.0,NaN,208.0,2016-05-25 00:00:00,2016-05-25,1,1,1,1.0
1752,India-Mills,36.0,0.0,36.0,NaN,36.0,2016-10-29 00:00:00,2016-10-26,1,1,1,1.0
1906,China Mills,8.0,0.0,8.0,NaN,8.0,2015-09-25 00:00:00,2015-09-25,1,1,1,1.0
2123,China Mills,996.0,0.0,996.0,NaN,996.0,2015-04-22 00:00:00,2015-04-20,1,1,1,1.0
2857,China Mills,28.0,-94.0,122.0,NaN,122.0,2015-10-26 00:00:00,2015-10-26,1,1,1,1.0
3037,China Mills,58.0,0.0,58.0,NaN,58.0,2015-12-10 00:00:00,2015-12-10,1,1,1,1.0
3076,China Mills,60.0,0.0,60.0,NaN,60.0,2016-01-05 00:00:00,2016-01-05,1,1,1,1.0
3326,China Mills,60.0,0.0,60.0,NaN,60.0,2016-05-25 00:00:00,2016-05-25,1,1,1,1.0

In [249]:
df_up1 = df_1.drop(["Short Quantity","Received Qty","Rejected Quantity","Time Promised","Time Received","On-Time","Quality","Quantity Met","Confidence"] , axis=1)
df_up1

         Supplier  Expected Qty  Net Quantity
49    India-Mills          76.0          76.0
1354  India-Mills         120.0         120.0
1443  India-Mills          30.0          30.0
1469  India-Mills         208.0         208.0
1752  India-Mills          36.0          36.0
1906  China Mills           8.0           8.0
2123  China Mills         996.0         996.0
2857  China Mills          28.0         122.0
3037  China Mills          58.0          58.0
3076  China Mills          60.0          60.0
3326  China Mills          60.0          60.0

In [250]:
df_up1["NetDiff"] = df_up1["Net Quantity"] - df_up1["Expected Qty"]
df_up1

         Supplier  Expected Qty  Net Quantity  NetDiff
49    India-Mills          76.0          76.0      0.0
1354  India-Mills         120.0         120.0      0.0
1443  India-Mills          30.0          30.0      0.0
1469  India-Mills         208.0         208.0      0.0
1752  India-Mills          36.0          36.0      0.0
1906  China Mills           8.0           8.0      0.0
2123  China Mills         996.0         996.0      0.0
2857  China Mills          28.0         122.0     94.0
3037  China Mills          58.0          58.0      0.0
3076  China Mills          60.0          60.0      0.0
3326  China Mills          60.0          60.0      0.0

In [251]:
df_up1 = df_up1.groupby('Supplier', as_index=False)['NetDiff'].mean()

In [252]:
df_up1

      Supplier    NetDiff
0  China Mills  15.666667
1  India-Mills   0.000000

## Merging two results one from 0.66 confidence and 1.0 confidence

In [261]:
df_up = pd.concat([df_up66,df_up1], ignore_index=True)
df_up

      Supplier    NetDiff
0  China Mills -51.333333
1  India-Mills  -4.666667
2  China Mills  15.666667
3  India-Mills   0.000000

## Computing mean of Net Diff and Grouping them by supplier

In [264]:
df_up = df_up.groupby('Supplier', as_index=False)['NetDiff'].mean()
df_up

      Supplier    NetDiff
0  China Mills -17.833333
1  India-Mills  -2.333333

## Sorting the results -> Descending

In [266]:
df_up = df_up.sort("NetDiff", ascending = False)
df_up

C:\Users\Tjpat\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

      Supplier    NetDiff
1  India-Mills  -2.333333
0  China Mills -17.833333

## Calculating Ranks of the Supplier

In [267]:
df_up["Rank"] = range(1,len(df_up)+1)
df_up

      Supplier    NetDiff  Rank
1  India-Mills  -2.333333     1
0  China Mills -17.833333     2

## Setting Rank as the Index

In [268]:
df_up = df_up.set_index("Rank")

In [269]:
df_up

         Supplier    NetDiff
Rank
1     India-Mills  -2.333333
2     China Mills -17.833333

In [311]:
tmp = df.sort("Item Unique Identifier")
tmp = tmp.set_index(['Item Unique Identifier', 'Supplier'])
tmp

C:\Users\Tjpat\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

                                            Location  Expected Qty  \
Item Unique Identifier  Supplier
HD 300Antique WhiteFull India-Mills   Vadodara,India         111.0
                        India-Mills   Vadodara,India         306.0
                        China Mills  Shenzhen, China           8.0
                        India-Mills   Vadodara,India          60.0
                        China Mills  Shenzhen, China          34.0
                        China Mills  Shenzhen, China           8.0
                        India-Mills   Vadodara,India          27.0
                        China Mills  Shenzhen, China         194.0
                        India-Mills   Vadodara,India         129.0
                        China Mills  Shenzhen, China         175.0
                        China Mills  Shenzhen, China          45.0
                        India-Mills   Vadodara,India         378.0
                        India-Mills   Vadodara,India          39.0
                        India-Mills   Vadodara,India         159.0
                        China Mills  Shenzhen, China         122.0
                        India-Mills   Vadodara,India          30.0
                        China Mills  Shenzhen, China          39.0
                        China Mills  Shenzhen, China         383.0
HD 300Antique WhiteKing India-Mills   Vadodara,India         120.0
                        India-Mills   Vadodara,India         156.0
                        China Mills  Shenzhen, China          48.0
                        India-Mills   Vadodara,India          50.0
                        India-Mills   Vadodara,India          82.0
                        China Mills  Shenzhen, China         150.0
                        China Mills  Shenzhen, China          60.0
                        India-Mills   Vadodara,India          26.0
                        China Mills  Shenzhen, China         357.0
                        India-Mills   Vadodara,India         102.0
                        China Mills  Shenzhen, China           2.0
                        China Mills  Shenzhen, China           2.0
...                                              ...           ...
HD 700SecrestKing Case  India-Mills   Vadodara,India          18.0
                        China Mills  Shenzhen, China          60.0
                        India-Mills   Vadodara,India          18.0
                        China Mills  Shenzhen, China          94.0
                        China Mills  Shenzhen, China         109.0
HD 700SecrestQueen      China Mills  Shenzhen, China         339.0
                        India-Mills   Vadodara,India          92.0
                        India-Mills   Vadodara,India          86.0
                        India-Mills   Vadodara,India           6.0
                        China Mills  Shenzhen, China         396.0
                        India-Mills   Vadodara,India         308.0
                        India-Mills   Vadodara,India          24.0
                        China Mills  Shenzhen, China          60.0
                        China Mills  Shenzhen, China         108.0
                        India-Mills   Vadodara,India         246.0
                        China Mills  Shenzhen, China         271.0
                        China Mills  Shenzhen, China          66.0
HD 700SecrestStd Case   China Mills  Shenzhen, China         179.0
                        China Mills  Shenzhen, China          58.0
                        India-Mills   Vadodara,India         306.0
                        India-Mills   Vadodara,India         192.0
                        India-Mills   Vadodara,India          66.0
                        India-Mills   Vadodara,India         156.0
                        China Mills  Shenzhen, China          48.0
                        India-Mills   Vadodara,India          54.0
                        China Mills  Shenzhen, China          86.0
                        China Mills  Shenzhen, China          62.0
                        China Mills  Shenzhen, China         221.0
                        India-Mills   Vadodara,India          18.0
NaN                     NaN                      NaN           NaN

                                     Short Quantity  Received Qty  \
Item Unique Identifier  Supplier
HD 300Antique WhiteFull India-Mills             3.0         111.0
                        India-Mills            12.0         294.0
                        China Mills             0.0           8.0
                        India-Mills             2.0          60.0
                        China Mills             0.0          34.0
                        China Mills             0.0           8.0
                        India-Mills             0.0          27.0
                        China Mills            17.0         177.0
                        India-Mills            11.0         118.0
                        China Mills             0.0         175.0
                        China Mills             0.0          45.0
                        India-Mills            33.0         363.0
                        India-Mills             0.0          39.0
                        India-Mills             5.0         159.0
                        China Mills             0.0         122.0
                        India-Mills             2.0          30.0
                        China Mills             0.0          39.0
                        China Mills            26.0         368.0
HD 300Antique WhiteKing India-Mills             6.0         120.0
                        India-Mills             0.0         156.0
                        China Mills             1.0          48.0
                        India-Mills             1.0          49.0
                        India-Mills             5.0          79.0
                        China Mills             5.0         150.0
                        China Mills             2.0          60.0
                        India-Mills             4.0          22.0
                        China Mills            14.0         357.0
                        India-Mills             3.0         102.0
                        China Mills             0.0           2.0
                        China Mills             0.0           2.0
...                                             ...           ...
HD 700SecrestKing Case  India-Mills           -24.0          42.0
                        China Mills             2.0          60.0
                        India-Mills            18.0           0.0
                        China Mills            13.0          81.0
                        China Mills            15.0          94.0
HD 700SecrestQueen      China Mills            18.0         334.0
                        India-Mills           -67.0         169.0
                        India-Mills            86.0           0.0
                        India-Mills             6.0           0.0
                        China Mills             0.0         396.0
                        India-Mills            19.0         304.0
                        India-Mills             1.0          24.0
                        China Mills             0.0          60.0
                        China Mills           108.0           0.0
                        India-Mills             7.0         246.0
                        China Mills             0.0         271.0
                        China Mills             2.0          66.0
HD 700SecrestStd Case   China Mills             5.0         179.0
                        China Mills             0.0          58.0
                        India-Mills             0.0         306.0
                        India-Mills            10.0         186.0
                        India-Mills           -66.0         138.0
                        India-Mills             6.0         156.0
                        China Mills             0.0          48.0
                        India-Mills            54.0           0.0
                        China Mills           -86.0         179.0
                        China Mills            62.0           0.0
                        China Mills             7.0         214.0
                        India-Mills            18.0           0.0
NaN                     NaN                     NaN           NaN

                                     Rejected Quantity  Net Quantity  \
Item Unique Identifier  Supplier
HD 300Antique WhiteFull India-Mills                3.0         108.0
                        India-Mills                NaN         294.0
                        China Mills                0.0           8.0
                        India-Mills                2.0          58.0
                        China Mills                NaN          34.0
                        China Mills                NaN           8.0
                        India-Mills                NaN          27.0
                        China Mills                NaN         177.0
                        India-Mills                NaN         118.0
                        China Mills                NaN         175.0
                        China Mills                NaN          45.0
                        India-Mills               18.0         345.0
                        India-Mills                NaN          39.0
                        India-Mills                5.0         154.0
                        China Mills                NaN         122.0
                        India-Mills                2.0          28.0
                        China Mills                NaN          39.0
                        China Mills               11.0         357.0
HD 300Antique WhiteKing India-Mills                6.0         114.0
                        India-Mills                NaN         156.0
                        China Mills                1.0          47.0
                        India-Mills                NaN          49.0
                        India-Mills                2.0          77.0
                        China Mills                5.0         145.0
                        China Mills                2.0          58.0
                        India-Mills                NaN          22.0
                        China Mills               14.0         343.0
                        India-Mills                3.0          99.0
                        China Mills                NaN           2.0
                        China Mills                0.0           2.0
...                                                ...           ...
HD 700SecrestKing Case  India-Mills                NaN          42.0
                        China Mills                2.0          58.0
                        India-Mills                NaN           0.0
                        China Mills                NaN          81.0
                        China Mills                NaN          94.0
HD 700SecrestQueen      China Mills               13.0         321.0
                        India-Mills               10.0         159.0
                        India-Mills                0.0           0.0
                        India-Mills                NaN           0.0
                        China Mills                NaN         396.0
                        India-Mills               15.0         289.0
                        India-Mills                1.0          23.0
                        China Mills                NaN          60.0
                        China Mills                0.0           0.0
                        India-Mills                7.0         239.0
                        China Mills                NaN         271.0
                        China Mills                2.0          64.0
HD 700SecrestStd Case   China Mills                5.0         174.0
                        China Mills                NaN          58.0
                        India-Mills                NaN         306.0
                        India-Mills                4.0         182.0
                        India-Mills                6.0         132.0
                        India-Mills                6.0         150.0
                        China Mills                NaN          48.0
                        India-Mills                NaN           0.0
                        China Mills                7.0         172.0
                        China Mills                0.0           0.0
                        China Mills                NaN         214.0
                        India-Mills                0.0           0.0
NaN                     NaN                        NaN           NaN

                                           Time Promised Time Received  \
Item Unique Identifier  Supplier
HD 300Antique WhiteFull India-Mills  2014-12-29 00:00:00    2014-12-26
                        India-Mills  2015-10-14 00:00:00    2015-10-14
                        China Mills  2014-04-09 00:00:00    2014-04-11
                        India-Mills  2014-04-09 00:00:00    2014-04-11
                        China Mills  2015-08-11 00:00:00    2015-08-13
                        China Mills  2014-09-02 00:00:00    2014-09-02
                        India-Mills  2015-08-11 00:00:00    2015-08-13
                        China Mills  2014-06-23 00:00:00    2014-06-23
                        India-Mills  2014-06-23 00:00:00    2014-06-23
                        China Mills  2014-05-22 00:00:00    2014-05-20
                        China Mills  2015-05-25 00:00:00    2015-05-27
                        India-Mills  2014-09-02 00:00:00    2014-09-02
                        India-Mills  2015-12-03 00:00:00    2015-12-03
                        India-Mills  2014-05-22 00:00:00    2014-05-20
                        China Mills  2014-12-29 00:00:00    2014-12-26
                        India-Mills  2015-05-25 00:00:00    2015-05-27
                        China Mills  2015-12-03 00:00:00    2015-12-03
                        China Mills  2015-10-14 00:00:00    2015-10-14
HD 300Antique WhiteKing India-Mills  2014-04-11 00:00:00    2014-04-11
                        India-Mills  2015-10-11 00:00:00    2015-10-14
                        China Mills  2014-05-20 00:00:00    2014-05-20
                        India-Mills  2014-12-26 00:00:00    2014-12-26
                        India-Mills  2014-01-17 00:00:00    2014-01-17
                        China Mills  2014-04-11 00:00:00    2014-04-11
                        China Mills  2015-12-03 00:00:00    2015-12-03
                        India-Mills  2014-06-26 00:00:00    2014-06-23
                        China Mills  2014-09-02 00:00:00    2014-09-02
                        India-Mills  2014-05-20 00:00:00    2014-05-20
                        China Mills  2015-10-11 00:00:00    2015-10-14
                        China Mills  2015-05-27 00:00:00    2015-05-27
...                                                  ...           ...
HD 700SecrestKing Case  India-Mills  2015-10-22 00:00:00    2015-10-26
                        China Mills  2015-10-26 00:00:00    2015-10-26
                        India-Mills  2015-10-26 00:00:00    2015-10-26
                        China Mills  2015-05-27 00:00:00    2015-05-27
                        China Mills  2015-04-20 00:00:00    2015-04-20
HD 700SecrestQueen      China Mills  2015-04-20 00:00:00    2015-04-20
                        India-Mills  2015-10-22 00:00:00    2015-10-26
                        India-Mills  2015-10-26 00:00:00    2015-10-26
                        India-Mills  2015-10-23 00:00:00    2015-10-26
                        China Mills  2015-10-22 00:00:00    2015-10-26
                        India-Mills  2015-04-20 00:00:00    2015-04-20
                        India-Mills  2015-09-22 00:00:00    2015-09-25
                        China Mills  2015-09-22 00:00:00    2015-09-25
                        China Mills  2015-10-26 00:00:00    2015-10-26
                        India-Mills  2015-05-24 00:00:00    2015-05-27
                        China Mills  2015-05-24 00:00:00    2015-05-27
                        China Mills  2015-10-23 00:00:00    2015-10-26
HD 700SecrestStd Case   China Mills  2015-05-27 00:00:00    2015-05-27
                        China Mills  2015-09-25 00:00:00    2015-09-25
                        India-Mills  2015-09-25 00:00:00    2015-09-25
                        India-Mills  2015-04-20 00:00:00    2015-04-20
                        India-Mills  2015-10-24 00:00:00    2015-10-26
                        India-Mills  2015-05-27 00:00:00    2015-05-27
                        China Mills  2015-10-23 00:00:00    2015-10-26
                        India-Mills  2015-10-26 00:00:00    2015-10-26
                        China Mills  2015-10-24 00:00:00    2015-10-26
                        China Mills  2015-10-26 00:00:00    2015-10-26
                        China Mills  2015-04-20 00:00:00    2015-04-20
                        India-Mills  2015-10-23 00:00:00    2015-10-26
NaN                     NaN                          NaN           NaT

                                     On-Time  Quality  Quantity Met  \
Item Unique Identifier  Supplier
HD 300Antique WhiteFull India-Mills        1        0             0
                        India-Mills        1        1             0
                        China Mills        0        1             1
                        India-Mills        0        0             0
                        China Mills        0        1             1
                        China Mills        1        1             1
                        India-Mills        0        1             1
                        China Mills        1        1             0
                        India-Mills        1        1             0
                        China Mills        1        1             1
                        China Mills        0        1             1
                        India-Mills        1        0             0
                        India-Mills        1        1             1
                        India-Mills        1        0             0
                        China Mills        1        1             1
                        India-Mills        0        0             0
                        China Mills        1        1             1
                        China Mills        1        0             0
HD 300Antique WhiteKing India-Mills        1        0             0
                        India-Mills        0        1             1
                        China Mills        1        0             0
                        India-Mills        1        1             0
                        India-Mills        1        0             0
                        China Mills        1        0             0
                        China Mills        1        0             0
                        India-Mills        1        1             0
                        China Mills        1        0             0
                        India-Mills        1        0             0
                        China Mills        0        1             1
                        China Mills        1        1             1
...                                      ...      ...           ...
HD 700SecrestKing Case  India-Mills        0        1             1
                        China Mills        1        0             0
                        India-Mills        1        1             0
                        China Mills        1        1             0
                        China Mills        1        1             0
HD 700SecrestQueen      China Mills        1        0             0
                        India-Mills        0        0             1
                        India-Mills        1        1             0
                        India-Mills        0        1             0
                        China Mills        0        1             1

In [48]:
from scikits.crab import datasets

In [50]:
movies = datasets.load_sample_movies()
songs = datasets.load_sample_songs()

In [53]:
movies.data

{1: {1: 3.0, 2: 4.0, 3: 3.5, 4: 5.0, 5: 3.0},
 2: {1: 3.0, 2: 4.0, 3: 2.0, 4: 3.0, 5: 3.0, 6: 2.0},
 3: {2: 3.5, 3: 2.5, 4: 4.0, 5: 4.5, 6: 3.0},
 4: {1: 2.5, 2: 3.5, 3: 2.5, 4: 3.5, 5: 3.0, 6: 3.0},
 5: {2: 4.5, 3: 1.0, 4: 4.0},
 6: {1: 3.0, 2: 3.5, 3: 3.5, 4: 5.0, 5: 3.0, 6: 1.5},
 7: {1: 2.5, 2: 3.0, 4: 3.5, 5: 4.0}}

In [54]:
from scikits.crab.models import MatrixPreferenceDataModel

In [55]:
model = MatrixPreferenceDataModel(movies.data)

In [57]:
from scikits.crab.metrics import pearson_correlation
from scikits.crab.similarities import UserSimilarity

In [58]:
similarity = UserSimilarity(model, pearson_correlation)

In [59]:
similarity

In [61]:
from scikits.crab.recommenders.knn import UserBasedRecommender

In [62]:
recommender = UserBasedRecommender(model, similarity, with_preference=True)

In [69]:
print(MatrixPreferenceDataModel(movies.data))

MatrixPreferenceDataModel (7 by 6)
         1          2          3          4          5        ...
1        3.000000   4.000000   3.500000   5.000000   3.000000
2        3.000000   4.000000   2.000000   3.000000   3.000000
3           ---     3.500000   2.500000   4.000000   4.500000
4        2.500000   3.500000   2.500000   3.500000   3.000000
5           ---     4.500000   1.000000   4.000000      ---
6        3.000000   3.500000   3.500000   5.000000   3.000000
7        2.500000   3.000000      ---     3.500000   4.000000

In [73]:
print(UserSimilarity(model, pearson_correlation))

<scikits.crab.similarities.basic_similarities.UserSimilarity object at 0x00000000096CBE80>

In [72]:
pearson_correlation

In [74]:
UserBasedRecommender(model, similarity, with_preference=True)

UserBasedRecommender(neighborhood_strategy=<scikits.crab.recommenders.knn.neighborhood_strategies.NearestNeighborsStrategy object at 0x00000000096A0080>,
           model=<MatrixPreferenceDataModel (7 by 6)>, capper=True,
           with_preference=True,
           similarity=<scikits.crab.similarities.basic_similarities.UserSimilarity object at 0x00000000096377F0>)

In [119]:
df.supp = df['Supplier'].dropna().unique()

In [108]:
df.supp = pd.DataFrame(df.supp)

In [132]:
type(df.supp)

numpy.ndarray

In [89]:
def suppHash(x):
    return hash(x)

In [126]:
df.supp_hash = []
for i in range(len(df.supp)):
    df.supp_hash.append(suppHash(df.supp[i]))

In [179]:
suppHash("HD 700Desert TaupeStd Case")

-1344887948

In [134]:
df.prd = df['Item Unique Identifier'].dropna().unique()

In [135]:
df.prd_hash = []
for i in range(len(df.prd)):
    df.prd_hash.append(suppHash(df.prd[i]))

In [180]:
df.prd_hash

[1127454740,
 1737991828,
 -1344887948,
 -2029103599,
 845833990,
 813697100,
 -1849576883,
 1449828384,
 -745343772,
 1472384640,
 -522462583,
 -2119390857,
 -976429815,
 -1543545603,
 -242173609,
 1333001637,
 1222996899,
 342856238,
 -480437514,
 -1499834362,
 1162514968,
 -313156525,
 1520853072,
 -393007034,
 1763320869,
 367346769,
 431109869,
 1007282808,
 -1364128395,
 1654880682,
 -1823614663,
 1785820891,
 1691659380,
 1847807648,
 1037885856,
 -172519402,
 1423155068,
 472085914,
 -1607163958,
 657527653,
 2009114923,
 233273977,
 2040412107,
 1881121067,
 287851756,
 1759344308,
 -461594872,
 1979351016,
 1524239273,
 -893416622,
 -146167689,
 -1649201908,
 1173079744,
 -1783724366,
 1868503632,
 -218873344,
 -1707674156,
 1286425129,
 -1715408446,
 723095134,
 -581472641,
 514217662,
 2020612457,
 759215964,
 1180364026,
 1778187690,
 1647156662,
 -415144514,
 1335700824,
 -619839548,
 1174541860,
 -166076243,
 1104031029,
 1480609095,
 -674956088,
 1944253977,
 785985537,
 1426246187,
 1572846079,
 -549335488,
 -1410354403,
 1176729956,
 2136166947,
 -831403534,
 1284451640,
 -1054827760,
 1485948356,
 -563636407,
 -1937537156,
 607546809,
 -214839795,
 1101896895,
 -1340925729,
 -587610344,
 1749351823,
 202279862,
 -706487820,
 218762277,
 414755714,
 1998153299,
 -1655886821,
 1529052785,
 -580069659,
 1538261610,
 -1575205945,
 537939120,
 1439014398,
 183637116,
 1698832444,
 481994821,
 -756475337,
 222332529,
 2015292850,
 -1362910174,
 1827961176,
 44058702,
 1635429686,
 2096778355,
 -1615049433,
 1071153096,
 -2146498665,
 1906784721,
 1268629415,
 -1111450075,
 -666019424,
 592068027,
 1502205786,
 1042351640,
 1782556597,
 1198777174,
 553606182,
 354507995,
 572979541,
 1206098397,
 1511044067,
 -40222951,
 -1482879505,
 932787441,
 -534573025,
 1707927482,
 -1127853463,
 1905717340,
 -1164060678,
 -1370278230,
 -1628395850,
 2003372947,
 -507529586,
 257120956,
 1195988496,
 -204661812,
 -101843899,
 129683984,
 -1603453290,
 1947763818,
 1940968586,
 -1168092213,
 -1591582726,
 -1717532549,
 -1614437985,
 19639553,
 489835361,
 -512169566,
 -2101158770,
 -1945208789,
 2141372979,
 1298786637,
 -1764785203,
 1646391278,
 -661425664,
 -1757488475,
 386071697,
 -229063685,
 -2089061369,
 -1794173152,
 -1918694999,
 -301511919,
 -699380133,
 253904655,
 1483149552,
 -835172255,
 -1747480942,
 -500251185,
 1551423639,
 -743270623]

In [141]:
movies.data

{1: {1: 3.0, 2: 4.0, 3: 3.5, 4: 5.0, 5: 3.0},
 2: {1: 3.0, 2: 4.0, 3: 2.0, 4: 3.0, 5: 3.0, 6: 2.0},
 3: {2: 3.5, 3: 2.5, 4: 4.0, 5: 4.5, 6: 3.0},
 4: {1: 2.5, 2: 3.5, 3: 2.5, 4: 3.5, 5: 3.0, 6: 3.0},
 5: {2: 4.5, 3: 1.0, 4: 4.0},
 6: {1: 3.0, 2: 3.5, 3: 3.5, 4: 5.0, 5: 3.0, 6: 1.5},
 7: {1: 2.5, 2: 3.0, 4: 3.5, 5: 4.0}}

In [145]:
act_data = {
    df.prd_hash[0] : {df.supp_hash[0] : 0.0, df.supp_hash[1] : 0.33},
    df.prd_hash[1] : {df.supp_hash[0] : 0.66, df.supp_hash[1] : 1.00},
    df.prd_hash[2] : {df.supp_hash[0] : 0.33, df.supp_hash[1] : 0.66},
    df.prd_hash[3] : {df.supp_hash[0] : 0.0, df.supp_hash[1] : 1.0},
    df.prd_hash[4] : {df.supp_hash[0] : 0.33, df.supp_hash[1] : 1.0}
}

In [146]:
act_data

{-2029103599: {385548252: 0.0, 795742215: 1.0},
 -1344887948: {385548252: 0.33, 795742215: 0.66},
 845833990: {385548252: 0.33, 795742215: 1.0},
 1127454740: {385548252: 0.0, 795742215: 0.33},
 1737991828: {385548252: 0.66, 795742215: 1.0}}

In [162]:
movies.data

{1: {1: 3.0, 2: 4.0, 3: 3.5, 4: 5.0, 5: 3.0},
 2: {1: 3.0, 2: 4.0, 3: 2.0, 4: 3.0, 5: 3.0, 6: 2.0},
 3: {2: 3.5, 3: 2.5, 4: 4.0, 5: 4.5, 6: 3.0},
 4: {1: 2.5, 2: 3.5, 3: 2.5, 4: 3.5, 5: 3.0, 6: 3.0},
 5: {2: 4.5, 3: 1.0, 4: 4.0},
 6: {1: 3.0, 2: 3.5, 3: 3.5, 4: 5.0, 5: 3.0, 6: 1.5},
 7: {1: 2.5, 2: 3.0, 4: 3.5, 5: 4.0}}

In [148]:
model = MatrixPreferenceDataModel(act_data)

In [169]:
print(model)

MatrixPreferenceDataModel (5 by 2)
         38554825   79574221
-2029103 0.00e+00   1.000000
-1344887 0.330000   0.660000
84583399 0.330000   1.000000
11274547 0.00e+00   0.330000
17379918 0.660000   1.000000

In [150]:
sim = UserSimilarity(model, pearson_correlation)

In [152]:
ub = UserBasedRecommender(model, similarity, with_preference=True)

In [170]:
model1 = MatrixPreferenceDataModel(movies.data)

In [171]:
similarity = UserSimilarity(model1, pearson_correlation)

In [172]:
recommender = UserBasedRecommender(model1, similarity, with_preference=True)